<ion-view view-title="Share">
    <ion-content scroll="false">

    	<p class="padding">If you would like to earn some extra points to spend, you can share our great app on any social media you can think of! </p>
      	<div class="button-bar">
		   <a class="button button-positive icon ion-social-facebook"></a>
		   <a class="button button-calm icon ion-social-twitter"></a>
		   <a class="button button-balanced icon ion-social-whatsapp"></a>
		   <a class="button button-positive icon ion-social-instagram"></a>
		</div>
    </ion-content>
 </ion-view>