/* Empty. Add your own CSS if you like */


@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Roboto-Light' !important;
}

/* Card styling */

.cardTitle{
    color:black;
    font-size: 25px;
    padding-bottom: 30px;
    text-align: center;

}

.bar .title{
    font-size: 25px;
    color: #f4ebd9 !important;
}
.bar-stable .button.button-icon{
    color: #f4ebd9 !important;
}
.menuHead{
    background-color: #058ed9 !important; 
    color: #f4ebd9;
}
.menuHead .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}
 
/*Changes the border for the last item*/
.menuHead .item:last-child {
  border-bottom: 1px solid #666;
}
 
.menuHead .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 



.pane{
  background-color:#f3f3f3;
}
.menuBack{
    background-color: #483d3f !important; 
}
.menuBack .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}
 
/*Changes the border for the last item*/
.menuBack .item:last-child {
  border-bottom: 1px solid #666;
}
 
.menuBack .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.menuBack h2,
.menuBack h3,
.menuBack p,
.menuBack a {
  color: white;  /*Text color for each item, overrides the color property above*/
}
td-cards {
    display: block;
}

td-card {
    position: absolute;
    margin-top: 80px;
    width: 100%;
    
    border-radius: 10px;
    background-color: rgb(255,255,255);
    color: #fff;
    
}

td-card .image {
    top: 20px;
    width: 100%;
}

td-card img {
    margin-top: 20px;

    width: 100%;
}

td-card .buttondesc{
    position: absolute;
    bottom: -120px;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: #f3f3f3;
    padding: 10px;
}
td-card .buttondesc button{
  margin: 0 10px;
}

/* Overlay styling*/

.overlayBox {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 ;
    left: 0;
    right: 0;
    height: 100%;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.yes-text {
    background-color: rgba(0,256,0,0.2);
}

.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}

.no-text {
    background-color: rgba(256,0,0,0.2);
}

.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.username{
  margin:5px;
  font-size: medium;
  font-weight: bold;
}
.froup_logo{
    display: block;
    margin: 0 auto;
}
.scroll-bar-indicator
{
    display: none;
}
