<ion-view  view-title="Please Login" name="login-view">
  <ion-content class="login-background" scroll="false" class="padding">

      <div style="position: absolute; bottom: 0px; width: 100%">
        <!--Commented out the logo for now until we decide on one-->
<!--<label class="item"><img class="froup_logo" src="http://www.placehold.it/200x200"></label>-->
          
          <h2 class="logo">Froup</h2>

          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <button class="button button-full button-calm" ng-click="login()">Login</button>

          <button class="button button-full button-positive" ng-click="fbLogin()">Login with Facebook</button>

      </div>
      
  </ion-content>
</ion-view>
